# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
.venv/
venv/
env/
*.env

# Performance testing scripts
locustfile.py


artifacts/
metrics.txt
**/__init__.py

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
*.swo
*.swp

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Terraform state files (if you ever use Terraform)
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Docker
docker-compose.yml.override